<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/signup.css">
</head>
<body>
<% include partials/header %>
<div class="container">  
  <form id="contact" action="/login" method="post">
    <h3 style="text-align:center;margin:15px;">Insert your data</h3>
    <fieldset>
      <input  name="username" placeholder="Your username" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name="department" placeholder="Your department" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <button type="submit" id="contact-submit">Submit</button>
    </fieldset>
  </form>
</div>
<% include partials/footer %>
