<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=pageTitle%></title>
</head>
<body>
<% include partials/header.ejs %>
    <h1>Hello from Profile page index  to <%=person%>.. </h1>
    <div>
        <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li> <%=item%> </li>
        <% }) %>
        </ul>
    </div>
<% include partials/footer.ejs %>

    
